[Desktop Entry]
Name=StarryDex
Exec=starry-dex %F
Terminal=false
Type=Application
StartupNotify=true
Icon=dev.mariinkys.StarryDex
Categories=COSMIC;Utility;
Keywords=Folder;Manager;
MimeType=inode/directory;
