[Desktop Entry]
Name=CosmicDex
Exec=cosmic-dex %F
Terminal=false
Type=Application
StartupNotify=true
Icon=dev.mariinkys.CosmicDex
Categories=COSMIC;Utility;
Keywords=Folder;Manager;
MimeType=inode/directory;
